body {
    min-width:900px;
    width:60%;
    margin:0 auto;
    font-family: 'Consolas';
    font-size: 14px;
    background-color:#252525;
    color:#eee;
}

input[type="text"], textarea {
    font-family: 'Consolas', monospace;
    font-size: 12px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

table {
    width: 100%;
}

th, td {
    font-size: 12px;
    padding: 5px;
}

tr:hover {
    background-color: #4a4a4a
}

th {
    background-color: #4CAF50;
    color: white;
}

.footer {
    text-align: center;
    font-size: 9px;
}

a
{
    color: #06a7ff;
}

a:visited
{
    color:#ab00ff;
}

a:hover, a:active
{
    color:#a50000;
}